.gg{
    width: 150px;
    height: 150px;
    background-color: #fff;
    
    box-shadow: 120px 80px 40px 20px #0ff;
    /* in order: x offset, y offset, blur size, spread size, color */
    /* blur size and spread size are optional (they default to 0) */
}
/*
*,
*:before,
*:after {
  box-sizing: border-box;
*/
}
div.gg {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background: linear-gradient(to bottom, #393939 0%, #151515 100%);
  position: relative;
}
div.gg:before {
  content: '';
  width: 106px;
  height: 106px;
  border-radius: 53px;
  background: #19f000;
  border: 1px solid black;
  position: absolute;
  left: 7px;
  top: 7px;
}
div.gg:after {
  content: '';
  width: 80px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  transform: rotate(-18deg);
  left: 13px;
  top: 9px;
}ß

.tbl::after {
  background: white none repeat scroll 0 0;
  border-radius: 20%; */ß
  content: " ";
  display: block;
  height: 100px;
  opacity: 0.15;
  position: absolute;
  width: 150px;
  left: 20px;
}
.tbl {
  background-image: radial-gradient(ellipse at 50px 10px , #ffffff 0%, #fff 5%, #00ff00 100%);
  border: 10px solid;
  border-radius: 10%; 
  height: 150px;
  position: relative;
  width: 150px;
  margin: 5px 5px 5px 5px
}
